.App {
  text-align: center;
}

.hello{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 5%;
  padding-right: 5%;
}

.Div1{
  margin: 5% 35% 5% 35% ;
  background-color: greenyellow;
  border: 1px solid black;
}

.oddeven{
  display: none;
}

.oddnum{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 5%;
  padding-right: 5%;
}

.filter{
  display: none;
}

button{
  background-color: rgb(64, 241, 64);
  padding:0.5%;
  font-size: 1em;
  border: 1px solid transparent;
}

button:hover{
  background-color: tomato;
}

input{
  height: 3vh;
  width: 20vw;
  padding: 0.3%;
  font-size: 1em;
}